{% set concourse = salt['grains.filter_by']({
  'default': {
    'version': 'v3.9.1',
    'exe_hash': 'sha224=e61f943104ee61f07651fb85d28825b1e001c89742a06e97ce8aac28',
    'user': 'concourse',
    'group': 'concourse',
    'base_url': 'https://github.com/concourse/concourse/releases/download',
    'exe_name': 'concourse_linux_amd64',
    'install_dir': '/home/concourse',
    'postgres': {
      'user': 'concourse',
      'password': 'changeme-65f2de184f5e1d5ec57'
    }
  }
},
merge=salt['pillar.get']('concourse:lookup'), base='default') %}

{% set override = salt['grains.filter_by']({
  'default': {
    'install_dir': concourse.install_dir,
    'bin_dir': concourse.install_dir + '/bin',
    'pki_dir': concourse.install_dir + '/keys',
    'exe_url': '/'.join([concourse.base_url, concourse.version,concourse.exe_name]),
    'web': {
      'options': {},
      'external_url': 'http://' + salt['network.interface_ip']('eth1') + ':8080',
      'postgres_url': 'postgres://' + concourse.postgres.user + ':' +  concourse.postgres.password + '@127.0.0.1/atc',
      'auth': {
        'basic': {
          'username': 'concourse',
          'password': 'concourse'
        }
      }
    },
    'worker': {
      'options': {},
      'tags': [],
      'tsa_host': '127.0.0.1',
      'work_dir': concourse.install_dir + '/worker',
    }
  }
},
merge=salt['pillar.get']('concourse:lookup'), base='default') %}

{% do concourse.update(override) %}