{%- from "concourse-ci/map.jinja" import concourse with context -%}
{%- set auth = concourse.server.auth -%}
[Unit]
Description=concourse server

[Service]
Type=simple
ExecStart={{ concourse.install_dir }}/concourse web \
  --session-signing-key {{ concourse.pki_dir }}/session_signing_key \
  --tsa-host-key {{ concourse.pki_dir }}/tsa_host_key \
  --tsa-authorized-keys {{ concourse.pki_dir }}/authorized_worker_keys \
  {%- for option, value in concourse.server.options.iteritems() %}
  --{{ option }} {{ value }} \
  {%- endfor %}
  --external-url {{ concourse.server.external_url }}
